services:
  storyblokappuibase:
    env_file: .env
    build: 
      context: .
      args:
        UID: ${SERVICE_USERANDGROUP_ID}
        GID: ${SERVICE_USERANDGROUP_ID}
        USERNAME: ${SERVICE_USERANDGROUP_NAME}
        GROUPNAME: ${SERVICE_USERANDGROUP_NAME}
        SERVICE_REPO_GROUP: ${SERVICE_REPO_GROUP}
    image: registry-git2.intentive.de/i-d-media/translationstudio-saas/${SERVICE_REPO_GROUP}/${SERVICE_REPO_DIRECTORY}:${BUILD_TAG}
    volumes:
      - ./log:/app/log
      - ./data:/app/data 
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "${SERVER_IP}:8016:8081"
    environment:
      PORT: 8081
      EXTENSION_URL: ${EXTENSION_URL}
      EXTENSION_APP_ID: ${EXTENSION_APP_ID}
      EXTENSION_CLIENT_ID: ${EXTENSION_CLIENT_ID}
      EXTENSION_CLIENT_SECRET: ${EXTENSION_CLIENT_SECRET}
      EXTENSION_SLUG: ${EXTENSION_SLUG}
      TRANSLATIONSTUDIO_URL: ${TRANSLATIONSTUDIO_URL}

networks:
  saas-prod:
  saas-qa:
  saas-dev: